<!--
Author: Benjamin Rittenhouse
https://github.com/benjaminrittenhouse
12/21/2020
footer.html
Footer HTML to be included that credits basketball-reference.com and myself.
-->

<footer>
	<div class = "thankYou">

		<div>All player stats and information is obtained from <a href="https://www.basketball-reference.com/">basketball-reference.com</a></div>
		<div>Benjamin Rittenhouse, <a href = "https://github.com/benjaminrittenhouse/nba_stats_website">https://github.com/benjaminrittenhouse/nba_stats_website</a></div>
</footer>