<!--
Author: Benjamin Rittenhouse
https://github.com/benjaminrittenhouse
11/26/2020
forms.html
Forms page to be included on all other pages, lets user enter names of players
-->
{% include 'head.html' %}
<form action ="" method="POST">

	<p>
		<label for="plyrOne">Player One</label>
		<input type = "text" name = "playerOneName">
	</p>
	<p>
		<label for="plyrTwo">Player Two</label>
		<input type = "text" name = "playerTwoName">
	</p>
	<p>
		<input type = "submit" value="Compare">
	</p>
</form>